body {
  background-color: peachpuff;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

#greeting {
  font-size: 50px;
  color: white;
}

img {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
