body {
  background-color: peachpuff;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.hidden {
  display: none;
}

#greeting {
  font-size: 50px;
  margin: 0;
}

#clock {
  font-size: 120px;
  margin: 0;
}

input[type="text"] {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px white solid;
  background: none;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: white;
}
img {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
